.game-section {
    width: 100%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.game-card {
    width: 80%;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:  flex-start;
    z-index: 1;
}

.game-data-container {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    z-index: 2;
}
 
.game-data {
    font-family: pmp;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.game-logo {
    width: 20rem;
}

.subtitle {
    font-size: 2rem;
    width: 25rem;
    text-align: center;
}

.game-background {
    position: absolute;
    width: 100%;
    height: 115rem;
    background: url('.././img/automate_banner.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    margin-top: -35%;
}

@media only screen and (max-width: 520px) {
    .game-background {
        position: absolute;
        width: 100%;
        height: 100rem;
        background: url('.././img/automate_banner_2.png');
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center;
        margin-top: -25%;
    }

    .game-card {
        width: 100%;
        margin-top: 5rem;
        z-index: 1;
    }
    
    .game-data-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:  center;
        z-index: 2;
    }

     
    .game-data {
        font-family: pmp;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .game-logo {
        width: 100%;
    }

    .subtitle {
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }
}