.gameplay {
    width: 100%;
    height: 60rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: 0 10px 10px #34343455;

    outline: 1px solid red;
}

.automate-character {
    min-width: 17rem;
    max-width: 30rem;
    outline: 1px solid red;
}

.automate-character video {
    width: 100%;
    outline: 1px solid red;
}

.scroll-container {
    overflow: hidden;
}

.screenshot {
    
}